body {
    font-family: sans-serif;
    min-width: 400px;
    padding: 10px;
    font-size: 14px;
}

h3 {
    margin: 0 0 5px 0;
}

.messageRow {
    display: flex;
    flex-direction: column;
}

.messageContent {
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 60%;
    word-wrap: break-word;
    margin: 0 0 10px 0;
}

.sent {
    align-self: flex-end;
    background-color: #d1f7c4;
}

.received {
    align-self: flex-start;
    background-color: #f0f0f0;
}

#messageInput {
    width: 80%;
    font-size: 14px;
    border: none;
    outline: none;
    padding-bottom: 5px;
}

#fileInput {
    display: none;
}

#sendButton {
    background: none;
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

#actionContainer {
    float: right;
    margin-right: 10px;
    position: relative;
    width: 18px;
    height: 18px;
}

#actionContainer:hover {
    fill: green;
    transition: fill 0.2s ease;
}

#actionContainer .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}